.card-item{
    background:rgb(41, 41, 46);
    cursor:pointer
}

.card-top{
    height: 300px;
    img{
        height: 100%;
        width: 100%;
    }
}

.card-bottom{
    padding: 20px;
}

.card-info{
    color: white;
    h4{
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 10px;
    }
}

